header {
    font-size: var(--font-size-lg);
    background-color: var(--blue-1);
    color: white;
    position: stick;
    top: 0;
    display: flex;
    justify-content: space-between;
    pad: 1rem 2rem;
}