header {
    font-size: var(--font-size-lg);
    background-color: var(--blue-1);
    color: white;
    position: sticky;
    top: 0;
    padding: 1rem 1.5rem;
}

/* removes bootstrap padding on navbar */
.navbar {
    padding: 0;
}

/* navlink for mobile */
.navlink {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-size-lg);
    margin-right: 2rem;
    margin: .5rem 2rem 0 0;
    transition: font-size .2s linear;
}

.navlink:hover, .active {
    font-size: var(--font-size-xxl);
}

@media screen and (min-width: 800px) {
    
    /* navlink font-size for desktop */
    .navlink {
        font-size: var(--font-size-md);
    }
    
    .navlink:hover, .active {
        font-size: var(--font-size-lg);
    }
}
