:root {
  --primary-color: rgb(34, 106, 199);
  --secondary-color: rgb(246, 245, 245);
  --secondary-color-opacity: rgba(15, 1, 1, 0.5);
  --tertiary-color: rgb(175, 175, 175);
  --shadow-color: rgba(0, 5, 17, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(41, 41, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

/* nav */
.navbar, footer {
background-color: var(--primary-color);
}

.navbar {
  background-color: var(--primary-color);
  margin-bottom: 25px;
}

.navbar-brand, .nav-link, .navbar-brand:hover {
  color: var(--secondary-color);
}

.nav-link:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

a:visited {
  color:  var(--secondary-color) !important;
}

/* Profile Intro*/
.img-size {
  width: 50%;
  border-radius: 20px;
}

.card, .img-size {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
}

.about-me-card {
border-radius: 20px;
}

/* Containers */

.header-container {
  display: flex;
  justify-content: flex-start;
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  width: 15%;
  margin-left: 10px;
}

.section-container {
  display: flex;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
}

.main-project {
  width: 100%;
}

.project {
  position: relative;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid var(--primary-color);
  background-size: cover;
  background-color: var(--secondary-color-opacity);
  background-blend-mode: multiply;
}

.project:last-child {
  margin-bottom: 40px;
}

.project:hover {
  top: -5px;
  box-shadow: 5px 5px 10px var(--shadow-color);
}

.project-background {
  border-radius: 10px;
}

.project-background-img-1 {
  background-image: url(./images/project-image-1.png)
}

.project-background-img-2 {
  background-image: url(./images/project-image-2.png)
}

.project-background-img-3 {
  background-image: url(./images/project-image-3.png)
}

.project-background-img-4 {
  background-image: url(./images/project-image-4.png)
}

.project-background:hover {
  background-blend-mode: normal;
}

.sub-projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.sub-project {
  flex: 1 1 300px;
}

.project-heading {
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: unset;
  border-radius: 0px 10px 10px 0px;
}

.repo-heading {
  position: absolute;
  padding: 10px;
  bottom: 25px;
  right: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: unset;
  border-radius: 10px 10px 10px 10px;
  font-size: 30px;
  border:none;
  outline:none;
}

@media only screen and (max-width: 768px) {
.header-container {
  margin: 10px auto;
  width: fit-content;
}

.profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-text {
  margin: 5px;
}
}