* {
    margin: 0px;
    padding: 0px;
    /* border: solid 1px red; */
}

:root {
    --primary-color: rgb(2, 66, 10);
    --secondary-color: white;
    --secondary-color-opacity: rgba(15, 1, 1, 0.5);
    --tertiary-color: rgb(167, 164, 164);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 80px;
    background-color: var(--tertiary-color);
}

a {
    text-decoration: none;
}


/* Header */

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header h1 {
    margin-left: 50px;
    font-size: 250%;
}


/* Nav */

nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 1.25em;
    margin-right: 70px;
}

nav a {
    color: var(--secondary-color)
}

nav a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}


/* Profile */

.img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background: linear-gradient(var(--primary-color), var(--tertiary-color));
}

img {}


/* Containers */

.section-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}

.header-container {
    padding: 10px;
    margin-right: 10px;
    font-size: 125%;
    text-align: right;
}

.text-container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-left: 3px solid var(--secondary-color);
    width: 80%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    border-left: 3px solid var(--secondary-color);
    width: 80%;
}

.main-project {
    width: 100%;
}

.project {
    position: relative;
    /* flex: 2 1 300px; */
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    background-size: cover;
    background-color: var(--secondary-color-opacity);
    background-blend-mode: multiply;
}

.sub-projects {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sub-project {
    flex: 1 1 300px;
}

.project-background {
    background-image: url(./images/project-image-1.jpg);
}

.project-heading {
    position: absolute;
    padding: 10px;
    top: 20px;
    left: 0px;
    background-color: var(--secondary-color);
    color: black;
    width: unset;
}

.project-background:hover {
    background-blend-mode: normal;
}


/* Footer */

footer {
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer a {
    color: inherit;
}

footer ul li {
    display: inline;
    text-decoration: none;
    font-size: 1.25em;
    margin-right: 70px;
}

.footer-heading {
    display: flex;
    align-items: center;
    margin-left: 50px;
    border-right: 3px solid var(--secondary-color);
    padding-right: 20px;
    height: 60px;
}

footer a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}


/* Media */

@media only screen and (max-width:768px) {}