:root {
  --primary-font: 'Lato', Helvetica, sans-serif;
  
  --blue-1: #263563;
  --blue-2: #9EB0E8;
  --blue-3: #5679E3;
  --blue-4: #444C63;
  --blue-5: #435EB0;

}

*, :after, :before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  /* background-color: var(--blue-2); */
  font-family: var(--primary-font);
  /* padding for footer */
  padding: 0 0 82px 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

#page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content-wrap {
  flex: 1;
}
